<div class="container">

  <div ng-controller="TodoListController as todoList">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
        <div class="panel with-nav-tabs panel-primary">
          <div class="panel-heading bg-green">
            <!-- <h3 class="panel-title">User Profile</h3> -->
            <ul class="nav nav-tabs">
              <li><a ui-sref="user_profile"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> User Profile</a></li>
              <li class="active"><a ui-sref="registeration_information">Registeration Information</a></li>
              </ul>
          </div>
          <div class="panel-body">
            <div class="row">
              <!-- <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> </div> -->
              <div class="col-md-12 col-lg-12 ">
                <table class="table borderless">
                  <tbody>
                    <tr>
                      <td>Registration Date</td>
                      <td>Date: 11-01-2016 <br>Time: 10:30-11:30</td>
                    </tr>

                    <tr>
                      <td>Bank Payment Detail</td>
                      <td>Bank: Bank of Ayudthaya Payment <br>Date: 29-12-2015 <br>Amount: 60700</td>
                    </tr>

                    <tr>
                      <td>Tuition fee exemption/waived</td>
                      <td>Exemption of university 's fee, credit fee and faculty 's fee</td>
                    </tr>
                    <tr>
                      <td>Student are allowed to register above limit</td>
                      <td>-</td>
                    </tr>

                    <tr>
                      <td>Student status</td>
                      <td>Registration allowed</td>
                    </tr>
                    <tr>
                      <td>Unpaid fee</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>To meet with advisor</td>
                      <td>-</td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
