<div class="container">

  <div ng-controller="TodoListController as todoList">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
        <div class="panel with-nav-tabs panel-primary">
          <div class="panel-heading bg-green">
            <!-- <h3 class="panel-title">User Profile</h3> -->
            <ul class="nav nav-tabs">
                <li class="active"><a ui-sref="user_information"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> User Profile</a></li>
                <li><a ui-sref="registeration_information">Registeration Information</a></li>
              </ul>
          </div>
          <div class="panel-body">
            <div class="row">
              <!-- <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> </div> -->
              <div class="col-md-12 col-lg-12 ">
                <table class="table borderless">
                  <tbody>
                    <tr>
                      <td>Student ID No.</td>
                      <td>5610545692</td>
                    </tr>

                    <tr>
                      <td>Title</td>
                      <td>Mr</td>
                    </tr>

                    <tr>
                      <td>First Name</td>
                      <td>Thanachote</td>
                    </tr>
                    <tr>
                      <td>Last Name</td>
                      <td>Visetsuthimont</td>
                    </tr>

                    <tr>
                      <td>Gender</td>
                      <td>Male</td>
                    </tr>
                    <tr>
                      <td>Degree Level</td>
                      <td>Bachelor</td>
                    </tr>
                    <tr>
                      <td>Campus</td>
                      <td>Bangkhen</td>
                    </tr>
                    <tr>
                      <td>Faculty</td>
                      <td>Engineering</td>
                    </tr>

                    <tr>
                      <td>Major Field</td>
                      <td>Software & Knowledge Engineering (E17)</td>
                    </tr>

                    <tr>
                      <td>Advisor</td>
                      <td>Intiraporn Mulasatra (E9011) </td>
                    </tr>

                    <tr>
                      <td>Program Type</td>
                      <td>International Program (Special Program) </td>
                    </tr>

                    <tr>
                      <td>E-mail</td>
                      <td>b5610545692@ku.ac.th</td>
                    </tr>

                    <tr>
                      <td>Student Status</td>
                      <td>Currently studying</td>
                    </tr>


                  </tbody>
                </table>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
