<div class="container margin-top-x">

  <div ng-controller="TodoListController as todoList">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-3 toppad" >
        <div class="panel with-nav-tabs panel-primary" style="border-color: #84A75F;">
          <div class="panel-heading bg-green" class="tab-green" style="background-color: #84A75F;border-color: #84A75F;">
            <!-- <h3 class="panel-title">User Profile</h3> -->
            <ul class="nav nav-tabs">
                <li class="col-xs-5 active"><a class="tab-green" ui-sref="user_information" style="border-top-color: #84A75F;border-left-color: #84A75F;border-right-color: #84A75F;"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <strong>User Profile</strong></a></li>
                <li class="col-xs-7"><a ui-sref="registeration_information"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> <strong>Registeration Information</strong></a></li>
              </ul>
          </div>
          <div class="panel-body">
            <div class="row">
              <!-- <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> </div> -->
              <div class="col-md-12 col-lg-12 ">
                <table class="table borderless">
                  <tbody>
                    <tr>
                      <td><b>Student ID No.</b></td>
                      <td>5610545692</td>
                    </tr>

                    <tr>
                      <td><b>Title</b></td>
                      <td>Mr</td>
                    </tr>

                    <tr>
                      <td><b>First Name</b></td>
                      <td>Thanachote</td>
                    </tr>
                    <tr>
                      <td><b>Last Name</b></td>
                      <td>Visetsuthimont</td>
                    </tr>

                    <tr>
                      <td><b>Gender</b></td>
                      <td>Male</td>
                    </tr>
                    <tr>
                      <td><b>Degree Level</b></td>
                      <td>Bachelor</td>
                    </tr>
                    <tr>
                      <td><b>Campus</b></td>
                      <td>Bangkhen</td>
                    </tr>
                    <tr>
                      <td><b>Faculty</b></td>
                      <td>Engineering</td>
                    </tr>

                    <tr>
                      <td><b>Major Field</b></td>
                      <td>Software & Knowledge Engineering (E17)</td>
                    </tr>

                    <tr>
                      <td><b>Advisor</b></td>
                      <td>Intiraporn Mulasatra (E9011) </td>
                    </tr>

                    <tr>
                      <td><b>Program Type</b></td>
                      <td>International Program (Special Program) </td>
                    </tr>

                    <tr>
                      <td><b>E-mail</b></td>
                      <td>b5610545692@ku.ac.th</td>
                    </tr>

                    <tr>
                      <td><b>Student Status</b></td>
                      <td>Currently studying</td>
                    </tr>


                  </tbody>
                </table>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
